<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タイムライン</title>
        <link rel="stylesheet" href="/css/dark-theme.css">

</head>
<body>
<h1>タイムライン</h1>

<h2>フォロー中ユーザー</h2>
<table>
    <tr th:each="user : ${followedUsers}">
        <td th:text="${user.username}">ユーザー名</td>
        <td th:text="${user.bio}">自己紹介</td>
    </tr>
</table>

<h2>タイムライン写真</h2>
<div th:each="photo : ${photos}">
    <img th:src="${photo.imageUrl}" alt="写真" width="200">
    <p th:text="${photo.comment}">コメント</p>
</div>


 <!-- フッター共通読み込み -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>